<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "IT Service" %></h1>
  <p>Smart Engineering</p>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="/posts">Posts</a>
      </li>
      <li>
        <a href="/images">Images</a>
      </li>
    </ul>
  </article>
</section>
